<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
				<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Job Skills Catalog</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="{{ url_for('displayCategories') }}">Home</a></li>
		      <li class="active"><a href="{{ url_for('allItems')}}">View List of Skills</a></li>
		      <li><a href="{{ url_for('newItem')}}">Add Skill</a></li>
		      <li><a href="{{ url_for('newCategory')}}">Add Category</a></li>
		    </ul>
		    	<a class="big-link login lobtn" href="/login">Login </a>
		      <a class="big-link lbtn" href="/logout"> Logout</a>
		  </div>
		</nav>
	<div class = 'pane'>
		<div class = 'header'>
		<a class = 'main-title' href="{{ url_for('displayCategories') }}"><h1 >Technical Job/Skills Catalog</h1></a>
	</div>

<div class = 'container'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        
        {% for message in messages %}
        <div class="row">
           <strong>{{ message }} </strong>
       </div>
        {% endfor %}
        
        {% endif %}
    {% endwith %}

</div>
	<h2 class='main-title'>Master Skills List</h2>
<div class = "container box">
			{% for i in items %}
<div class = 'row'>
    	<div class='col-md-4'>
			<a  href="{{ url_for('displayIndividualItem', item_id = i.id)}}" class = 'name'><p>{{i.name}}</p>
		</div>
		<div class="col-md-1">
			<a href="{{ url_for('editItem', item_id = i.id)}}">Edit</a>
		</div>
		<div class='col-md-1'>
			<a href="{{ url_for('deleteItem', item_id = i.id )}}">Delete</a>
		</div>
	
</div>
{% endfor %}

		
		

</div>
</div>
	</body>




</html>