<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
			<div class="container">
		<div class="row">
			<div class="pin-right"><a class="big-link login" href="/login">Login </a><a class="big-link" href="/logout"> Logout</a></div>
			
		</div>
	</div>	
	<div class = 'pane'>
		<div class = 'header'>
		<a class = 'main-title' href="{{ url_for('displayCategories') }}"><h1 >Technical Job/Skills Catalog</h1></a>
	</div>

<div class = 'container'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        
        {% for message in messages %}
        <div class="row">
           <strong>{{ message }} </strong>
       </div>
        {% endfor %}
        
        {% endif %}
    {% endwith %}

</div>

<div class = "container box">
<div class = 'row'>
		{% for c in categories %}
    <div class = 'nameAndPrice'>
    	<div class='col-md-12'>
			<a  href="{{ url_for('displayItemsInCategory', category_id = c.id)}}" class = 'name'><p>{{c.name}}</p>

		</div>
	
	</div>
		{% endfor %}
	
</div>

		
		

</div>
</div>
<div class ="container">
	<div class="row">
<div class = "pin-right big-link"><a href="{{ url_for('newItem')}}">Add New Skill</a></div>
<div class = "pin-right big-link"><a href="{{ url_for('newCategory')}}">Add New Category</a></div>
</div>
</div>
	</body>




</html>