<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<a class = 'main-title' href="{{ url_for('displayCategories') }}"><h1>Technical Job/Skills Catalog</h1></a>
	</div>


<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<ul>
		{% for i in items %}
    <div class = 'nameAndPrice'>
    	
			<li><a  href="#" class = 'name'><p>{{i.name}}</p></a></li>

	</span>
	</div>
		{% endfor %}
	</ul>


		
		

</div>
</div>
	</body>




</html>